    <div

      appShadow
      (mouseenter)="onMouseEnter(productInput().id)"
      (mouseleave)="onMouseLeave()"
    >
      <div class="card product-card shadow-sm border-0 text-center">
        <div class="image-container">
          <img [src]="productInput().thumbnail" alt="{{ productInput().title }}" (click)="ProductClicked(productInput())" />
        </div>
        <div class="card-body p-2">
          <a class="card-title text-primary mb-1 text-truncate" [routerLink]="['/product-details', productInput().id]" style="cursor: pointer;">{{ productInput().title }}</a>
          <p class="card-text text-muted small mb-2 text-truncate">{{ productInput().description | txtSlice:30}}</p>
          <div class="price fw-semibold text-success mb-2">💰 {{ productInput().price | currency:'EGP'}}</div>
          <div class="d-flex justify-content-between">
            <button
              class="btn btn-sm btn-outline-primary flex-fill me-1"
              (click)="addtocart(productInput())"
            >
              🛒
            </button>
            <button
              class="btn btn-sm btn-outline-danger flex-fill ms-1"
              (click)="addtofav(productInput())"
            >
              ❤️
            </button>
          </div>
          @if(hoveredProductId === productInput().id) {
          <div>⭐ {{ productInput().rating }} | {{ productInput().stock }} Quantity</div>
          }
        </div>
      </div>
    </div>
