<div class="container-fluid">
<div class="row text-center">
<form class="col-6 mx-auto mt-5 p-4 border rounded" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <div class="mb-3">
    <label for="Username" class="form-label">Username</label>
    <input type="text" class="form-control" id="Username" name="Username" #username="ngModel" ngModel required>
    @if(username.invalid && username.touched){
      <p class="alert alert-danger">username is required</p>
    }
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" #password="ngModel" name="password" ngModel required>
      @if(password.invalid && password.touched){
      <p class="alert alert-danger">password is required</p>
    }
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>

  <div class="text-center mt-3">
  <p>Don't have an account?</p>
  <button class="btn btn-secondary" type="button" (click)="goToRegister()">
    Register
  </button>
</div>
</form>
</div>
</div>

